body{
    background: lightblue;
    font-family: monospace;
}

#container {
    text-align: center;
}

#my-games{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.games-container{
    min-height: 3em;
    margin: 1em auto;
    width: 100%;
    text-align: left;
    border: 2px solid;
    background-color: white;
    border-radius: 5px;
}

.single-game-block{
    background: black;
    margin: 10px;
    /* border: 3px solid grey; */
    /* border-radius: 5px; */
    position: relative;
    display: flex;
    justify-content: center;
    /* display: flex;
    justify-content: center;
    position: relative; */


}

.single-game-block-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: 0px -100px 50px -60px rgb(0 0 0) inset;
    -webkit-box-shadow: 0px -100px 50px -60px rgb(0 0 0) inset;
    -moz-box-shadow: 0px -100px 50px -60px rgb(0 0 0) inset;
}

input {
    font-family : inherit;
    font-size: 1em;
}

button {
    font-family : inherit;
    font-size: 1em;
}

.game-image{
    height: 15em;
}


.inner-game-block{
    position: absolute;
    bottom: 0;
    color: white;
    margin-bottom: 0.5em;
}

.game {
    display: flex;
    padding: 0.5em;
    align-items: center;
}

.game:hover {
    background-color: #a5a5ff;
    color: white;
}

.game-atter{
    margin: 0 0.5em;
}

.game-name{
    font-size: 100%;
    font-weight: bold;
    margin-right: 5px;
}
.game-id{
    font-size: 70%;
}
.game-rank{
    background: black;
    color: white;
    border-radius: 5px;
    padding: 1px 5px;
}
.game-url{
    font-size: 70%;
}


#game-search-text-input{
    font-size: 150%;
    margin-bottom: 0.5em;
}

#game-search-button{
    padding: 0.2em;
    font-size: 150%;
    border: 1px solid black;
    border-radius: 5px;
}

.game-name-all{
    /* background: black; */
    padding: 0.2em 0.5em;
    /* border-radius: 3px; */
}

.game-players-all{
    font-size: 75%;
}

.game-time-all{
    font-size: 75%;
}

.remove-button{
    position: absolute;
    right: 0;
    background: red;
    color: white;
    border-radius: 5px;
    padding: 0 4px;
    font-size: 120%;
    border: 1px solid black;
}


/* Card Area */
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    border: 3px solid white;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}